<!DOCTYPE html>
<html lang="en" dir="ltr">

	<head>
		<meta charset="utf-8">
		<title>Article Classifier</title>
	</head>

	<body>

		<header>
			<h1 id="AppName">Article Classifier</h1 id="AppName">
		</header>

		<main>
			<section>
				<form id="articleURLForm" onsubmit="return App.handleSubmit( event )" autocomplete="off">
					<input id="URL" type="text" name="input" value="" placeholder="Enter Article URL">
					<input type="submit" name="" value="Submit" onclick="return App.handleSubmit( event )" onsubmit="return App.handleSubmit( event )">
				</form>
			</section>

			<section>
				<div>
					<strong>Suggested Article Classification:</strong>
				</div>
				<div id="Results"></div>
			</section>
		</main>

		<footer>
			<p>&copy; 2020 Michael Bigelow</p>
		</footer>

		<script>
			// Make sure service workers are supported in user's browser
			if( 'serviceWorker' in navigator ){

				// Register the service worker after the page loads
				window.addEventListener( 'load', () => {
					navigator.serviceWorker.register( '/service-worker.js' );
				});

			}
		</script>
	</body>

</html>
